<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509297612922-uukebhue8liau01r5pqce4uu36alsbfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509297612922-uukebhue8liau01r5pqce4uu36alsbfi</string>
	<key>API_KEY</key>
	<string>AIzaSyAnhSo4oYAAzy_GmhZ3UikNPMIBacvOVF4</string>
	<key>GCM_SENDER_ID</key>
	<string>509297612922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdu.edu.arujan.kz.LiveScore-SDU</string>
	<key>PROJECT_ID</key>
	<string>livescoresdu</string>
	<key>STORAGE_BUCKET</key>
	<string>livescoresdu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509297612922:ios:c2e3a7ae6be51d8ac9c3c3</string>
</dict>
</plist>